@font-face {
    font-family: 'CooperHewitt';
    src: url('../fonts/cooperhewitt-semibold-webfont.eot');
    src: url('../fonts/cooperhewitt-semibold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/cooperhewitt-semibold-webfont.woff2') format('woff2'),
         url('../fonts/cooperhewitt-semibold-webfont.woff') format('woff'),
         url('../fonts/cooperhewitt-semibold-webfont.ttf') format('truetype'),
         url('../fonts/cooperhewitt-semibold-webfont.svg#cooper_hewittsemibold') format('svg');
    font-weight: normal;
    font-style: normal;

}